@import url(font-awesome.min.css);
@import url(emoji.css);
@import url(proxima_nova/proxima.min.css);
@import url(inter-ui/inter-ui.css);
@import url(//fonts.googleapis.com/css?family=Karla:400,400i,700,700i);

/* LFT Etica  */
@font-face{font-family:"LFT Etica";src:url(lft_etica/LFT_Etica_Book.otf) format("opentype"); }
@font-face{font-family:"LFT Etica";src:url(lft_etica/LFT_Etica_Semibold.otf) format("opentype");font-weight:500; }
@font-face{font-family:"LFT Etica";src:url(lft_etica/LFT_Etica_Bold.otf) format("opentype");font-weight:bold; }
@font-face{font-family:"LFT Etica";src:url(lft_etica/LFT_Etica_BoldItalic.otf) format("opentype");font-weight:bold;font-style:italic; }
@font-face{font-family:"LFT Etica";src:url(lft_etica/LFT_Etica_Light.otf) format("opentype");font-weight:200; }
@font-face{font-family:"LFT Etica";src:url(lft_etica/LFT_Etica_LightItalic.otf) format("opentype");font-weight:lighter;font-style:italic; }

/* Calibre */
@font-face{font-family:'Calibre';font-weight:300;src:url(calibre/CalibreWeb-Light.woff2) format("woff2"),url(../font/calibre/CalibreWeb-Light.woff) format("woff");}
@font-face{font-family:'Calibre';font-weight:400;src:url(calibre/CalibreWeb-Regular.woff2) format("woff2"),url(../font/calibre/CalibreWeb-Regular.woff) format("woff");}
@font-face{font-family:'Calibre';font-weight:700;src:url(calibre/CalibreWeb-Medium.woff2) format("woff2"),url(../font/calibre/CalibreWeb-Medium.woff) format("woff");}

/* Fakt Pro */
@font-face{font-family:'Fakt Air';src:url('faktpro/FaktPro-Air.eot');src:url('factpro/FaktPro-Air.eot?#iefix') format('embedded-opentype'),url('factpro/FaktPro-Air.woff') format('woff'),url('factpro/FaktPro-Air.ttf') format('truetype');font-weight:normal;font-style:normal;}
@font-face{font-family:'Fakt Hair';src:url('factpro/FaktPro-Hair.eot');src:url('factpro/FaktPro-Hair.eot?#iefix') format('embedded-opentype'),url('factpro/FaktPro-Hair.woff') format('woff'),url('factpro/FaktPro-Hair.ttf') format('truetype');font-weight:normal;font-style:normal;}
@font-face{font-family:'Fakt';src:url('factpro/FaktPro-Thin.eot');src:url('factpro/FaktPro-Thin.eot?#iefix') format('embedded-opentype'),url('factpro/FaktPro-Thin.woff') format('woff'),url('factpro/FaktPro-Thin.ttf') format('truetype');font-weight:100;font-style:normal;}
@font-face{font-family:'Fakt';src:url('factpro/FaktPro-ThinItalic.eot');src:url('factpro/FaktPro-ThinItalic.eot?#iefix') format('embedded-opentype'),url('factpro/FaktPro-ThinItalic.woff') format('woff'),url('factpro/FaktPro-ThinItalic.ttf') format('truetype');font-weight:100;font-style:italic;}
@font-face{font-family:'Fakt';src:url('factpro/FaktPro-Light.eot');src:url('factpro/FaktPro-Light.eot?#iefix') format('embedded-opentype'),url('factpro/FaktPro-Light.woff') format('woff'),url('factpro/FaktPro-Light.ttf') format('truetype');font-weight:200;font-style:normal;}
@font-face{font-family:'Fakt';src:url('factpro/FaktPro-Blond.eot');src:url('factpro/FaktPro-Blond.eot?#iefix') format('embedded-opentype'),url('factpro/FaktPro-Blond.woff') format('woff'),url('factpro/FaktPro-Blond.ttf') format('truetype');font-weight:300;font-style:normal;}
@font-face{font-family:'Fakt';src:url('factpro/FaktPro-Normal.eot');src:url('factpro/FaktPro-Normal.eot?#iefix') format('embedded-opentype'),url('factpro/FaktPro-Normal.woff') format('woff'),url('factpro/FaktPro-Normal.ttf') format('truetype');font-weight:400;font-style:normal;}
@font-face{font-family:'Fakt';src:url('factpro/FaktPro-Medium.eot');src:url('factpro/FaktPro-Medium.eot?#iefix') format('embedded-opentype'),url('factpro/FaktPro-Medium.woff') format('woff'),url('factpro/FaktPro-Medium.ttf') format('truetype');font-weight:500;font-style:normal;}
@font-face{font-family:'Fakt';src:url('factpro/FaktPro-SemiBold.eot');src:url('factpro/FaktPro-SemiBold.eot?#iefix') format('embedded-opentype'),url('factpro/FaktPro-SemiBold.woff') format('woff'),url('factpro/FaktPro-SemiBold.ttf') format('truetype');font-weight:600;font-style:normal;}

/* FF Mark */
@font-face{font-family:'FfMarkLight';src:url('ff-mark/light.woff') format('woff'),url('ff-mark/light.eot') format('embedded-opentype'),url('ff-mark/light.ttf') format('ttf');}
@font-face{font-family:'FfMarkXLight';src:url('ff-mark/xlight.woff') format('woff'),url('ff-mark/xlight.eot') format('embedded-opentype'),url('ff-mark/xlight.ttf') format('ttf');}
@font-face{font-family:'FfMarkMedium';src:url('ff-mark/medium.woff') format('woff'),url('ff-mark/medium.eot') format('embedded-opentype'),url('ff-mark/medium.ttf') format('ttf');}

/* Univers LT */
@font-face{font-family:'UniversLTStd45Light';src:url('universlt/univers_lt_std_45_light-webfont.ttf') format('truetype');src:url('universlt/univers_lt_std_45_light-webfont.svg#UniversLTStd45Light') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'Univers45LightOblique';src:url('universlt/univers-lightoblique-webfont.ttf') format('truetype');src:url('universlt/univers-lightoblique-webfont.svg#Univers45LightOblique') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'UniversLTStd65Bold';src:url('universlt/universltstd-bold-webfont.ttf') format('truetype');src:url('universlt/universltstd-bold-webfont.svg#UniversLTStd65Bold') format('svg');font-weight:normal;font-style:normal;}

/* Sailec */
@font-face{font-family:'Sailec';font-weight:bold;src:url('sailec/31293A_0_0.eot');src:url('sailec/31293A_0_0.eot?#iefix') format('embedded-opentype'),url('sailec/31293A_0_0.woff2') format('woff2'),url('sailec/31293A_0_0.woff') format('woff'),url('sailec/31293A_0_0.ttf') format('truetype');}
@font-face{font-family:'Sailec';font-weight:100;src:url('sailec/31293A_1_0.eot');src:url('sailec/31293A_1_0.eot?#iefix') format('embedded-opentype'),url('sailec/31293A_1_0.woff2') format('woff2'),url('sailec/31293A_1_0.woff') format('woff'),url('sailec/31293A_1_0.ttf') format('truetype');}
@font-face{font-family:'Sailec';font-weight:900;src:url('sailec/31293A_2_0.eot');src:url('sailec/31293A_2_0.eot?#iefix') format('embedded-opentype'),url('sailec/31293A_2_0.woff2') format('woff2'),url('sailec/31293A_2_0.woff') format('woff'),url('sailec/31293A_2_0.ttf') format('truetype');}
@font-face{font-family:'Sailec';font-weight:200;src:url('sailec/31293A_3_0.eot');src:url('sailec/31293A_3_0.eot?#iefix') format('embedded-opentype'),url('sailec/31293A_3_0.woff2') format('woff2'),url('sailec/31293A_3_0.woff') format('woff'),url('sailec/31293A_3_0.ttf') format('truetype');}
@font-face{font-family:'Sailec';font-weight:500;src:url('sailec/31293A_4_0.eot');src:url('sailec/31293A_4_0.eot?#iefix') format('embedded-opentype'),url('sailec/31293A_4_0.woff2') format('woff2'),url('sailec/31293A_4_0.woff') format('woff'),url('sailec/31293A_4_0.ttf') format('truetype');}
@font-face{font-family:'Sailec';font-weight:normal;src:url('sailec/31293A_5_0.eot');src:url('sailec/31293A_5_0.eot?#iefix') format('embedded-opentype'),url('sailec/31293A_5_0.woff2') format('woff2'),url('sailec/31293A_5_0.woff') format('woff'),url('sailec/31293A_5_0.ttf') format('truetype');}
@font-face{font-family:'Sailec';font-weight:300;src:url('sailec/31293A_6_0.eot');src:url('sailec/31293A_6_0.eot?#iefix') format('embedded-opentype'),url('sailec/31293A_6_0.woff2') format('woff2'),url('sailec/31293A_6_0.woff') format('woff'),url('sailec/31293A_6_0.ttf') format('truetype');}

/* Rajdhani */
@font-face{font-family:'Rajdhani';font-weight:bold;font-style:normal;src:url('rajdhani/rajdhani-bold-webfont.woff2') format('woff2'),url('rajdhani/rajdhani-bold-webfont.woff') format('woff');}
@font-face{font-family:'Rajdhani';font-weight:200;font-style:normal;src:url('rajdhani/rajdhani-light-webfont.woff2') format('woff2'),url('rajdhani/rajdhani-light-webfont.woff') format('woff');}
@font-face{font-family:'Rajdhani';font-weight:500;font-style:normal;src:url('rajdhani/rajdhani-medium-webfont.woff2') format('woff2'),url('rajdhani/rajdhani-medium-webfont.woff') format('woff');}
@font-face{font-family:'Rajdhani';font-weight:normal;font-style:normal;src:url('rajdhani/rajdhani-regular-webfont.woff2') format('woff2'),url('rajdhani/rajdhani-regular-webfont.woff') format('woff');}
@font-face{font-family:'Rajdhani';font-weight:600;font-style:normal;src:url('rajdhani/rajdhani-semibold-webfont.woff2') format('woff2'),url('rajdhani/rajdhani-semibold-webfont.woff') format('woff');}

/* Apercu */
@font-face{font-family:'Apercu';font-weight:normal;src:url('apercu/Apercu.otf');}
@font-face{font-family:'Apercu';font-weight:100;src:url('apercu/Apercu-Light.otf');}
@font-face{font-family:'Apercu';font-weight:bold;src:url('apercu/Apercu-Bold.otf');}

/* Tiempos Headline */
@font-face{font-family:'Tiempos Headline';font-weight:100;font-style:normal;src:url('tiempos_headline/TiemposHeadline-Light.otf');}
@font-face{font-family:'Tiempos Headline';font-weight:100;font-style:italic;src:url('tiempos_headline/TiemposHeadline-LightItalic.otf');}
@font-face{font-family:'Tiempos Headline';font-weight:300;font-style:normal;src:url('tiempos_headline/TiemposHeadline-Medium.otf');}
@font-face{font-family:'Tiempos Headline';font-weight:300;font-style:italic;src:url('tiempos_headline/TiemposHeadline-MediumItalic.otf');}
@font-face{font-family:'Tiempos Headline';font-weight:normal;font-style:normal;src:url('tiempos_headline/TiemposHeadline-Regular.otf');}
@font-face{font-family:'Tiempos Headline';font-weight:normal;font-style:italic;src:url('tiempos_headline/TiemposHeadline-RegularItalic.otf');}
@font-face{font-family:'Tiempos Headline';font-weight:600;font-style:normal;src:url('tiempos_headline/TiemposHeadline-Semibold.otf');}
@font-face{font-family:'Tiempos Headline';font-weight:600;font-style:italic;src:url('tiempos_headline/TiemposHeadline-SemiboldItalic.otf');}
@font-face{font-family:'Tiempos Headline';font-weight:bold;font-style:normal;src:url('tiempos_headline/TiemposHeadline-Bold.otf');}
@font-face{font-family:'Tiempos Headline';font-weight:bold;font-style:italic;src:url('tiempos_headline/TiemposHeadline-BoldItalic.otf');}
@font-face{font-family:'Tiempos Headline';font-weight:900;font-style:normal;src:url('tiempos_headline/TiemposHeadline-Black.otf');}
@font-face{font-family:'Tiempos Headline';font-weight:900;font-style:italic;src:url('tiempos_headline/TiemposHeadline-BlackItalic.otf');}

/* Brown */
@font-face{font-family:"Brown";src:url("brown/lineto-brown-light.eot");src:url("brown/lineto-brown-light.eot?#iefix") format("embedded-opentype"), url("brown/lineto-brown-light.woff") format("woff"), url("brown/lineto-brown-light.ttf") format("truetype"), url("brown/lineto-brown-light.svg#lineto-brown-light") format("svg");font-weight:300;font-style:normal;}
@font-face{font-family:"Brown";src:url("brown/lineto-brown-regular.eot");src:url("brown/lineto-brown-regular.eot?#iefix") format("embedded-opentype"), url("brown/lineto-brown-regular.woff") format("woff"), url("brown/lineto-brown-regular.ttf") format("truetype"), url("brown/lineto-brown-regular.svg#lineto-brown-regular") format("svg");font-weight:400;font-style:normal;}
@font-face{font-family:"Brown";src:url("brown/lineto-brown-italic.eot");src:url("brown/lineto-brown-italic.eot?#iefix") format("embedded-opentype"), url("brown/lineto-brown-italic.woff") format("woff"), url("brown/lineto-brown-italic.ttf") format("truetype"), url("brown/lineto-brown-italic.svg#lineto-brown-italic") format("svg");font-weight:400;font-style:italic;}
@font-face{font-family:"Brown";src:url("brown/lineto-brown-bold.eot");src:url("brown/lineto-brown-bold.eot?#iefix") format("embedded-opentype"), url("brown/lineto-brown-bold.woff") format("woff"), url("brown/lineto-brown-bold.ttf") format("truetype"), url("brown/lineto-brown-bold.svg#lineto-brown-bold") format("svg");font-weight:700;font-style:normal;}
@font-face{font-family:"Brown";src:url("brown/lineto-brown-bolditalic.eot");src:url("brown/lineto-brown-bolditalic.eot?#iefix") format("embedded-opentype"), url("brown/lineto-brown-bolditalic.woff") format("woff"), url("brown/lineto-brown-bolditalic.ttf") format("truetype"), url("brown/lineto-brown-bolditalic.svg#lineto-brown-bolditalic") format("svg");font-weight:700;font-style:italic;}

/* Google Sans */
@font-face{font-family:'Google Sans';src:url('google_sans/googlesans-regular-webfont.woff2') format('woff2'),url('google_sans/googlesans-regular-webfont.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'Google Sans';src:url('google_sans/googlesans-bold-webfont.woff2') format('woff2'),url('google_sans/googlesans-bold-webfont.woff') format('woff');font-weight:bold;font-style:normal;}
@font-face{font-family:'Google Sans';src:url('google_sans/googlesans-bolditalic-webfont.woff2') format('woff2'),url('google_sans/googlesans-bolditalic-webfont.woff') format('woff');font-weight:bold;font-style:italic;}
@font-face{font-family:'Google Sans';src:url('google_sans/googlesans-italic-webfont.woff2') format('woff2'),url('google_sans/googlesans-italic-webfont.woff') format('woff');font-weight:normal;font-style:italic;}
@font-face{font-family:'Google Sans';src:url('google_sans/googlesans-medium-webfont.woff2') format('woff2'),url('google_sans/googlesans-medium-webfont.woff') format('woff');font-weight:300;font-style:normal;}
@font-face{font-family:'Google Sans';src:url('google_sans/googlesans-mediumitalic-webfont.woff2') format('woff2'),url('google_sans/googlesans-mediumitalic-webfont.woff') format('woff');font-weight:300;font-style:italic;}

/* San Francisco Pro Display*/
@font-face{font-family:"San Francisco Pro Display";font-weight:100;font-style:normal;src:url(sanfrancisco_pro/SF-Pro-Display-Ultralight.otf) format("opentype"); }
@font-face{font-family:"San Francisco Pro Display";font-weight:100;font-style:italic;src:url(sanfrancisco_pro/SF-Pro-Display-UltralightItalic.otf) format("opentype"); }
@font-face{font-family:"San Francisco Pro Display";font-weight:200;font-style:normal;src:url(sanfrancisco_pro/SF-Pro-Display-Thin.otf) format("opentype"); }
@font-face{font-family:"San Francisco Pro Display";font-weight:200;font-style:italic;src:url(sanfrancisco_pro/SF-Pro-Display-ThinItalic.otf) format("opentype"); }
@font-face{font-family:"San Francisco Pro Display";font-weight:300;font-style:normal;src:url(sanfrancisco_pro/SF-Pro-Display-Light.otf) format("opentype"); }
@font-face{font-family:"San Francisco Pro Display";font-weight:300;font-style:italic;src:url(sanfrancisco_pro/SF-Pro-Display-LightItalic.otf) format("opentype"); }
@font-face{font-family:"San Francisco Pro Display";font-weight:400;font-style:normal;src:url(sanfrancisco_pro/SF-Pro-Display-Medium.otf) format("opentype"); }
@font-face{font-family:"San Francisco Pro Display";font-weight:400;font-style:italic;src:url(sanfrancisco_pro/SF-Pro-Display-MediumItalic.otf) format("opentype"); }
@font-face{font-family:"San Francisco Pro Display";font-weight:500;font-style:normal;src:url(sanfrancisco_pro/SF-Pro-Display-Regular.otf) format("opentype"); }
@font-face{font-family:"San Francisco Pro Display";font-weight:500;font-style:italic;src:url(sanfrancisco_pro/SF-Pro-Display-RegularItalic.otf) format("opentype"); }
@font-face{font-family:"San Francisco Pro Display";font-weight:600;font-style:normal;src:url(sanfrancisco_pro/SF-Pro-Display-Semibold.otf) format("opentype"); }
@font-face{font-family:"San Francisco Pro Display";font-weight:600;font-style:italic;src:url(sanfrancisco_pro/SF-Pro-Display-SemiboldItalic.otf) format("opentype"); }
@font-face{font-family:"San Francisco Pro Display";font-weight:700;font-style:normal;src:url(sanfrancisco_pro/SF-Pro-Display-Bold.otf) format("opentype"); }
@font-face{font-family:"San Francisco Pro Display";font-weight:700;font-style:italic;src:url(sanfrancisco_pro/SF-Pro-Display-BoldItalic.otf) format("opentype"); }
@font-face{font-family:"San Francisco Pro Display";font-weight:800;font-style:normal;src:url(sanfrancisco_pro/SF-Pro-Display-Black.otf) format("opentype"); }
@font-face{font-family:"San Francisco Pro Display";font-weight:800;font-style:italic;src:url(sanfrancisco_pro/SF-Pro-Display-BlackItalic.otf) format("opentype"); }
@font-face{font-family:"San Francisco Pro Display";font-weight:900;font-style:normal;src:url(sanfrancisco_pro/SF-Pro-Display-Heavy.otf) format("opentype"); }
@font-face{font-family:"San Francisco Pro Display";font-weight:900;font-style:italic;src:url(sanfrancisco_pro/SF-Pro-Display-HeavyItalic.otf) format("opentype"); }

/* San Francisco Pro Text */
@font-face{font-family:"San Francisco Pro Text";font-weight:300;font-style:normal;src:url(sanfrancisco_pro/SF-Pro-Text-Light.otf) format("opentype"); }
@font-face{font-family:"San Francisco Pro Text";font-weight:300;font-style:italic;src:url(sanfrancisco_pro/SF-Pro-Text-LightItalic.otf) format("opentype"); }
@font-face{font-family:"San Francisco Pro Text";font-weight:400;font-style:normal;src:url(sanfrancisco_pro/SF-Pro-Text-Medium.otf) format("opentype"); }
@font-face{font-family:"San Francisco Pro Text";font-weight:400;font-style:italic;src:url(sanfrancisco_pro/SF-Pro-Text-MediumItalic.otf) format("opentype"); }
@font-face{font-family:"San Francisco Pro Text";font-weight:500;font-style:normal;src:url(sanfrancisco_pro/SF-Pro-Text-Regular.otf) format("opentype"); }
@font-face{font-family:"San Francisco Pro Text";font-weight:500;font-style:italic;src:url(sanfrancisco_pro/SF-Pro-Text-RegularItalic.otf) format("opentype"); }
@font-face{font-family:"San Francisco Pro Text";font-weight:600;font-style:normal;src:url(sanfrancisco_pro/SF-Pro-Text-Semibold.otf) format("opentype"); }
@font-face{font-family:"San Francisco Pro Text";font-weight:600;font-style:italic;src:url(sanfrancisco_pro/SF-Pro-Text-SemiboldItalic.otf) format("opentype"); }
@font-face{font-family:"San Francisco Pro Text";font-weight:700;font-style:normal;src:url(sanfrancisco_pro/SF-Pro-Text-Bold.otf) format("opentype"); }
@font-face{font-family:"San Francisco Pro Text";font-weight:700;font-style:italic;src:url(sanfrancisco_pro/SF-Pro-Text-BoldItalic.otf) format("opentype"); }
@font-face{font-family:"San Francisco Pro Text";font-weight:900;font-style:normal;src:url(sanfrancisco_pro/SF-Pro-Text-Heavy.otf) format("opentype"); }
@font-face{font-family:"San Francisco Pro Text";font-weight:900;font-style:italic;src:url(sanfrancisco_pro/SF-Pro-Text-HeavyItalic.otf) format("opentype"); }

/* Pangram */
@font-face{font-family:'Pangram';src:url('pangram/Pangram-Bold.woff2') format('woff2'),url('pangram/Pangram-Bold.woff') format('woff'),url('pangram/Pangram-Bold.ttf') format('truetype');font-weight:bold;font-style:normal;}
@font-face{font-family:'Pangram';src:url('pangram/Pangram-ExtraBold.woff2') format('woff2'),url('pangram/Pangram-ExtraBold.woff') format('woff'),url('pangram/Pangram-ExtraBold.ttf') format('truetype');font-weight:800;font-style:normal;}
@font-face{font-family:'Pangram';src:url('pangram/Pangram-Regular.woff2') format('woff2'),url('pangram/Pangram-Regular.woff') format('woff'),url('pangram/Pangram-Regular.ttf') format('truetype');font-weight:normal;font-style:normal;}
@font-face{font-family:'Pangram';src:url('pangram/Pangram-Black.woff2') format('woff2'),url('pangram/Pangram-Black.woff') format('woff'),url('pangram/Pangram-Black.ttf') format('truetype');font-weight:900;font-style:normal;}
@font-face{font-family:'Pangram';src:url('pangram/Pangram-Medium.woff2') format('woff2'),url('pangram/Pangram-Medium.woff') format('woff'),url('pangram/Pangram-Medium.ttf') format('truetype');font-weight:500;font-style:normal;}
@font-face{font-family:'Pangram';src:url('pangram/Pangram-Light.woff2') format('woff2'),url('pangram/Pangram-Light.woff') format('woff'),url('pangram/Pangram-Light.ttf') format('truetype');font-weight:300;font-style:normal;}
@font-face{font-family:'Pangram';src:url('pangram/Pangram-ExtraLight.woff2') format('woff2'),url('pangram/Pangram-ExtraLight.woff') format('woff'),url('pangram/Pangram-ExtraLight.ttf') format('truetype');font-weight:200;font-style:normal;}

/* Avenir Next */
@font-face{font-family:"Avenir Next LT Pro";font-weight:normal;font-style:normal;src:url(avenir_next/AvenirNextLTPro-Regular.otf) format("opentype"); }
@font-face{font-family:"Avenir Next LT Pro";font-weight:normal;font-style:italic;src:url(avenir_next/AvenirNextLTPro-It.otf) format("opentype"); }
@font-face{font-family:"Avenir Next LT Pro";font-weight:700;font-style:normal;src:url(avenir_next/AvenirNextLTPro-Demi.otf) format("opentype"); }
@font-face{font-family:"Avenir Next LT Pro";font-weight:700;font-style:italic;src:url(avenir_next/AvenirNextLTPro-DemiCn.otf) format("opentype"); }
@font-face{font-family:"Avenir Next LT Pro";font-weight:bold;font-style:normal;src:url(avenir_next/AvenirNextLTPro-Bold.otf) format("opentype"); }
@font-face{font-family:"Avenir Next LT Pro";font-weight:bold;font-style:italic;src:url(avenir_next/AvenirNextLTPro-BoldCn.otf) format("opentype"); }

/* Cera Round Pro */
@font-face{font-family:"Cera Round Pro";font-weight:200;font-style:normal;src:url(cera_round_pro/CeraRoundPro-Thin.otf) format("opentype"); }
@font-face{font-family:"Cera Round Pro";font-weight:300;font-style:normal;src:url(cera_round_pro/CeraRoundPro-Light.otf) format("opentype"); }
@font-face{font-family:"Cera Round Pro";font-weight:normal;font-style:normal;src:url(cera_round_pro/CeraRoundPro-Regular.otf) format("opentype"); }
@font-face{font-family:"Cera Round Pro";font-weight:500;font-style:normal;src:url(cera_round_pro/CeraRoundPro-Medium.otf) format("opentype"); }
@font-face{font-family:"Cera Round Pro";font-weight:900;font-style:normal;src:url(cera_round_pro/CeraRoundPro-Black.otf) format("opentype"); }
@font-face{font-family:"Cera Round Pro";font-weight:bold;font-style:normal;src:url(cera_round_pro/CeraRoundPro-Bold.otf) format("opentype"); }

/* Silka Mono */
@font-face {
    font-family: 'silka_mono';
    src: url('silkamono/silkamono-regular-webfont.eot');
    src: url('silkamono/silkamono-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('silkamono/silkamono-regular-webfont.woff2') format('woff2'),
         url('silkamono/silkamono-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* Avenir */
@font-face{font-family:'Avenir';src:url('avenir/AvenirBold.woff2') format('woff2'),url('avenir/AvenirBold.woff') format('woff'),url('avenir/AvenirBold.ttf') format('truetype'),url("avenir/AvenirBold.eot") format("embedded-opentype");font-weight:bold;font-style:normal;}
@font-face{font-family:'Avenir';src:url('avenir/AvenirSemiBold.woff2') format('woff2'),url('avenir/AvenirSemiBold.woff') format('woff'),url('avenir/AvenirSemiBold.ttf') format('truetype'),url("avenir/AvenirSemiBold.eot") format("embedded-opentype");font-weight:600;font-style:normal;}
@font-face{font-family:'Avenir';src:url('avenir/AvenirMediumItalic.woff2') format('woff2'),url('avenir/AvenirMediumItalic.woff') format('woff'),url('avenir/AvenirMediumItalic.ttf') format('truetype'),url("avenir/AvenirMediumItalic.eot") format("embedded-opentype");font-weight:normal;font-style:italic;}
@font-face{font-family:'Avenir';src:url('avenir/AvenirMedium.woff2') format('woff2'),url('avenir/AvenirMedium.woff') format('woff'),url('avenir/AvenirMedium.ttf') format('truetype'),url("avenir/AvenirMedium.eot") format("embedded-opentype");font-weight:normal;font-style:normal;}
@font-face{font-family:'Avenir';src:url('avenir/AvenirLight.woff2') format('woff2'),url('avenir/AvenirLight.woff') format('woff'),url('avenir/AvenirLight.ttf') format('truetype'),url("avenir/AvenirLight.eot") format("embedded-opentype");font-weight:200;font-style:normal;}