@import url(//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);
@import url(//mukwevhom.bitbucket.io/fonts/fonts.css);
:root{
    --my-reusable-value: 20px;
    --mb-white:#f0f0f9;
    --mb-black:#1e1e1c;
}
*{margin:0;padding:0;font-family:'Google Sans','Calibre','Roboto',Arial,sans-serif;text-decoration:none;line-height: 1;}
*:focus{outline:0;}
html,body{width:100%;height:100%;}
body{font-size:16px;background:var(--mb-white);}
.row{margin:0;}


.black-text {
    color: var(--mb-black) !important;
}

.white-text,
.white-text:hover,
.white-text:focus {
    color: var(--mb-white) !important;
}

.curr-page a{opacity: .4;}

.margin{margin:var(--my-reusable-value);}
.no-margin{margin:0;}

.margin-top{margin-top:20px;}
.no-margin-top{margin-top:0;}

.margin-right{margin-right:var(--my-reusable-value);}
.no-margin-right{margin-right:0;}

.margin-bottom{margin-bottom:20px;}
.no-margin-bottom{margin-bottom:0;}

.margin-left{margin-left:20px;}
.no-margin-left{margin-left:0;}

.padding{padding: 20px;}

.padding-top{padding-top:20px;}
.no-padding-top{padding-top:0px;}

.padding-right{padding-right:20px;}
.no-padding-right{padding-right:0px;}

.padding-bottom{padding-bottom:20px;}
.no-padding-bottom{padding-bottom:0px;}

.padding-left{padding-left:20px;}
.no-padding-left{padding-left:0px;}

.border{border: 1px solid;}
.no-border{border: none;}
.no-border-top{border-top:none;}
.no-border-right{border-right:none;}
.no-border-bottom{border-bottom: none;}
.no-border-left{border-left:none;}

.float-left{float:left;}
.float-right{float:right;}
.float-none{float:none;}

.inline-block{display: inline-block;}
.display-block{display:block;}

.line-height{line-height:1.3;}
.no-list-style{list-style: none;}
.no-text-decor,.no-text-decor:hover,.no-text-decor:focus {text-decoration: none;}