@import url(normalise.css);


section.main-wrapper {
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
}

.site-header h1,
.site-header h2 {
    font-size: 56px;
    line-height: 1;
}

.site-header h1 span {
    line-height: 1;
    font-size: 18px;
    color: var(--mb-black);
    display: block;
    text-transform: uppercase;
}

.site-header p a {
    text-decoration: underline;
}

.site-header p {
    font-size: 22px;
    line-height: 1.3;
}